/var/cache/
/var/logs/
/.htaccess
*.log
npm-debug.log.*
.sass-cache/
/cache/*
/log/*
themes/*/cache/*
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/test/cache/*
!app/test/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
.directory
.Trash-*
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns